fastapi
uvicorn
python-multipart
pypdf
google-genai
python-dotenv
deep-translator
python-docx
python-pptx
pandas
openpyxl
youtube-search-python
youtube-transcript-api
newspaper3k
nltk
beautifulsoup4
requests
flake8
pytest
google-genai
